@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
}

body {
	background: #f0f2f5;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: #000000 !important;
}

li {
	list-style: none;
}


.navigation-header {
	padding: 0 20px;
	height: 7%;
	display: flex;
	align-items: center;
	border: 1px solid rgb(206, 203, 203);
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container > a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
}

#navigation-items {
	display: flex;
	gap: 40px;
}

#navigation-items > a {
	color: ghostwhite;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	transition: .4s ease-in-out;
}

#navigation-items > a:hover {
	color: #da4cdf !important;
	border-bottom: #da4cdf solid 1px;
}
.hamburger {
	display: none;
	font-size: 20px;
	font-weight: 800;
	color: rgb(0, 0, 0);
}

.logo{
	padding-top: 10px;
	width: 40px;
}



main{
	height: 93%;
}
#division{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#texto{
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	gap: 35px;
	font-size: 20px;
}
#texto > h2{
	font-family: 'Titan One', sans-serif;
	font-size: 60px;
	letter-spacing: 4px;
	color: #da4cdf;
	text-shadow: #000000 1px 2px 2px;
	-webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.411);
}

button{
	width: 120px;
	border: none;
	border-radius: 15px;
	background-color: #da4cdf;
	color: #f0f2f5;
	height: 30px;
}

button:hover{
	cursor: pointer;
	background-color: #f455fa;
	color: #000000;
	transition: ease-in-out 0.5s;
}

#imagen{
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 100px;
}
#circulo{
	border-radius: 50%;
	background-color: #da4cdf;
	height: 850px;
	width: 850px;
	position: absolute;
	bottom: -300px;
	right: -150px;
	z-index: -1;
}


#Starbucks{
	font-size: 18px;
	font-style: italic;
}

#redes{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	position: absolute;
	right: 30px;
	top: 40%;
}

#redes > a:hover{
	border-bottom: #012915 solid 2px;
}


#menu-inferior{
	display: flex;
	position: absolute;
	bottom: 3px;
	gap: 30px;
	display: flex;
	justify-content: center;
	width: 100%;
}
#menu-inferior > a > img{
	width: 65px; 
}

#menu-inferior > a > img:hover{
	transition: ease-out 0.5s;
	transform: translateY(-15px);
}

@media screen and (max-width:768px) {
	.hamburger {
		display: flex;
		cursor: pointer;
	}
	.hamburger #closeHam {
		display: none;
	}
	#navigation-items {
		display: none;
		flex-direction: column;
		align-items: center;
		position: absolute;
		right: 0;
		top: 60px;
		background-color: #fd96f6;
		width: 100%;
		height: calc(100vh - 58px);
		padding-top: 60px;
		gap: 15vh;
	}
}

@media screen and (max-width:1215px){
	#division{
		flex-direction: column !important;
	}
	#texto{
		align-items: center;
		width: 100%;
		height: 45%;
		padding-top: 0;
	}
	#imagen{
		width: 100%;
		height: 65%;
		padding: 0;
	}

	#capuccino{
		position: absolute;
		height: 450px;
	}

	#circulo{
		width: 500px;
		height: 500px;
		position:initial;
	}
}


@media screen and (max-width:623px){
	#redes{
		display: none;
	}

}

@media screen and (max-width:562px){
	#division{
		display: none;
	}
	#menu-inferior{
		flex-direction: column;
		height: 93%;
		width: 100%;
		align-items: center;
	}
	#menu-inferior > a > img{
		width: 100px; 
	}
}